
{% if section.settings.show_topbar %}
	<div class="announcement-parentbar">
      <div class="announcement-container">
        <div class="announcement-bar">
          <div class="announcement-innerbar">
            
            <div class="slide" href="{{ block.settings.ammouncement_link }}">
               {% for block in section.blocks %}
              <p>{{ block.settings.announcement_text }}</p>
               {% endfor %}
            </div>
           
          </div>
        </div>  
      </div>
 	  <div id='dismiss' class="cross-announcement-bar" onclick="dismiss(this)">&#215</div>
	</div>
{% endif %}




{% schema %}
{
  "name": "Announcement",
  "max_blocks": 5,
  "settings": [  
	{
          "type": "checkbox",
          "id": "show_topbar",
          "label": "Show bar",
          "default": true
      }
],
  "blocks": [
    {
      "name": "Announcement",
      "type": "Text",
      "settings": [
          {
            "type": "text",
            "id": "announcement_text",
            "default": "Welcome to our store",
            "label": "Text"
          },
		  {
			"type": "url",
			"id": "ammouncement_link",
			"label": "Link"
		  }
        ]
      }
	]  
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
