
{% if section.settings.show_topbar %}
      <div class="announcement-container">
        <div class="announcement-bar">
          <div class="slide">{{ section.settings.bartext1 }}</div>
          <div class="slide">{{ section.settings.bartext2 }}</div>
          <div class="slide">{{ section.settings.bartext3 }}</div>
        </div>
       <div id='dismiss' class="cross-announcement-bar" onclick="dismiss(this)">&#215</div>
      </div>
{% endif %}


{% schema %}
{
  "name": "Announcement",
  "tag": "section",
  "class": "announcement-container",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "announcement-text",
      "label": "Announcement bar"
    }
  ],
  "blocks": [
    {
      "name": "Announcement",
      "type": "announcement",
      "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Welcome to our store",
            "label": "Heading"
          }
        ]
      }
	]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
