<hr>
	<div>
      <div id="slideshow">
        {% for block in section.blocks %}
          <div id="show_image" class="silde-wrapper" >
          	<img class="slide" src="{{ block.settings.silder_image | img_url: '400x800' }}" >
          </div>
         {% endfor %}
      </div>
	</div>

<style>
    /* Styling the area of the slides */
     
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto 3em auto;
    }
     
    /* Style each of the sides
    with a fixed width and height */
     
    .slide {
        float: left;
        height: 510px;
        width: 728px;
    }
     
    /* Add animation to the slides */
     
    .slide-wrapper {
         
        /* Calculate the total width on the
      basis of number of slides */
        width: calc(728px * 4);
         
        /* Specify the animation with the
      duration and speed */
        animation: slide 10s ease infinite;
    }
     
     
    /* Define the animation
    for the slideshow */
     
    @keyframes slide {
         
        /* Calculate the margin-left for
      each of the slides */
        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-728px * 1);
        }
        60% {
            margin-left: calc(-728px * 2);
        }
        80% {
            margin-left: calc(-728px * 3);
        }
    }
</style>

{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

{% endjavascript %}
