 

      <div id="slideshow">
        {% for block in section.blocks %}
          <div class="silde-wrapper" >
          	<img class="slide" src="{{ block.settings.silder_image | img_url: '' }}" >
          </div>
         {% endfor %}
      </div>

<div id="bannerContainer">
	<div class="heading"><p>a little for you & for the planet</p></div>
	
  	<div id="banner" >
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
       src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_peta-logoicon_180x.png?v=1630590184" />
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="#ctab-1" >Learn more</a>
    </div>
  </div>
  
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
      src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_paraben_180x.png?v=1630590208" />
      <div>
          <p>
           no dyes &
			parabens
           </p>
        <a href="#ctab-2" >Learn more</a>
      </div>
  </div>
  
  <div class="banneritem">
      <img class="bannerimage" alt="picture"
		src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_silicones_180x.png?v=1630590238" />
      <div>
          <p>
        	plant based
			cleansers
           </p>
        <a href="#ctab-3" >Learn more</a>
      </div>
  </div>
  
  <div class="banneritem">
	<img class="bannerimage" alt="picture"
     src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_recyclebottles_180x.png?v=1630590265" />
    <div>
    	<p class="detail">
          100% recycled & recyclable bottles
   		 </p>
      <a href="#ctab-4" >Learn more</a>
    </div>
  </div>
</div>
  <div id="ctab-1">
      <p>
		For us, loving the planet means caring for all creatures who share it. 
        That's why Love Beauty and Planet products are never ever tested on animals.
        We are independently certified Cruelty-Free and Vegan by PETA, and this is something we're super proud of.
      </p>
    </div>
    <div id="ctab-2">
      <p>Our products are formulated without parabens, dyes and silicones.</p>
    </div>
    <div id="ctab-3">
      <p>All of our fabulous formulas are filled with the planet's finest natural ingredients that we source sustainably 
        from small farms all over the world,from the swamplands of Australia to the fields of France.
      </p>
    </div>
	<div id="ctab-4">
      <p>We use 100% recycled material to make our bottles (the caps are next!). That means there's reduced waste when
        you're done. This is one of our many small acts of love for the planet.
      </p>
    </div>
  <div id="banner2" >
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
       src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_peta-logoicon_180x.png?v=1630590184" />
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="#ctab-1" >Learn more</a>
    </div>
  </div>
  
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
      src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_paraben_180x.png?v=1630590208" />
      <div>
          <p>
           no dyes &
			parabens
           </p>
        <a href="#ctab-2" >Learn more</a>
      </div>
  </div>
  
  <div class="banneritem">
      <img class="bannerimage" alt="picture"
		src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_silicones_180x.png?v=1630590238" />
      <div>
          <p>
        	plant based
			cleansers
           </p>
        <a href="#ctab-3" >Learn more</a>
      </div>
  </div>
  
  <div class="banneritem">
	<img class="bannerimage" alt="picture"
     src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_recyclebottles_180x.png?v=1630590265" />
    <div>
    	<p class="detail">
          100% recycled & recyclable bottles
   		 </p>
      <a href="#ctab-4" >Learn more</a>
    </div>
  </div>
     <div id="ctab-1">
      <p>
		For us, loving the planet means caring for all creatures who share it. 
        That's why Love Beauty and Planet products are never ever tested on animals.
        We are independently certified Cruelty-Free and Vegan by PETA, and this is something we're super proud of.
      </p>
    </div>
    <div id="ctab-2">
      <p>Our products are formulated without parabens, dyes and silicones.</p>
    </div>
    <div id="ctab-3">
      <p>All of our fabulous formulas are filled with the planet's finest natural ingredients that we source sustainably 
        from small farms all over the world,from the swamplands of Australia to the fields of France.
      </p>
    </div>
	<div id="ctab-4">
      <p>We use 100% recycled material to make our bottles (the caps are next!). That means there's reduced waste when
        you're done. This is one of our many small acts of love for the planet.
      </p>
    </div>
</div>
</div>
   

<style>
 
  .heading{
  	text-align: center;
    font-size: 25px;
    margin: 1rem 0 2rem 0;
  }
  
  #bannerContainer{
  	background-color:#ECD8E7;
    padding:10px
  }
  
   #banner{
     display: flex;
   }
     #banner2{
  		display: none;
  	}
  
  .banneritem{
  	display: flex;
  }

  .banneritem div{
    color: #808080;
    margin: 2rem 0rem 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .banneritem div a{
    color: #db9999 ;
    font-size: 13px;
    border-bottom: 1px solid #db9999;
  }
  
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto 3em auto;
    }
  
    .bannerimage{
      width: 125px;
      height: 125px;
    }
     
    .slide {
        float: left;
        height: 510px;
        width: 728px;
    }
  
    .slide-wrapper {
        width: calc(728px * 4);
        animation: slide 10s ease infinite;
    } 
     
    @keyframes slide {

        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-728px * 1);
        }
        60% {
            margin-left: calc(-728px * 2);
        }
        80% {
            margin-left: calc(-728px * 3);
        }
    }
    @media screen and (max-width: 700px){
   	 #banner{
  		display: none;
  	}
       #banner2{
  		display: grid;
  	}
     .slide {
       height: 200px;
       width:  300px;
    }
        #slideshow {
        overflow: hidden;
        height: 200px;
        width: 300px;
        margin: 0 auto 2rem auto;
    }

   }
</style>

{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>

  
        $(document).ready(function() {
    $('#banner').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
 
      
  
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

</script>
