 

      <div id="slideshow">
        {% for block in section.blocks %}
          <div class="silde-wrapper" >
          	<img class="slide" src="{{ block.settings.silder_image | img_url: '' }}" >
          </div>
         {% endfor %}
      </div>

<div id="banner" >
    <div class="banneritem">
      <a href=""><img class="bannerimage" alt="picture"
       src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_peta-logoicon_180x.png?v=1630590184" /></a>
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="" >Learn more</a>
    </div>
        <div><h1>a little for you & for the planet</h1></div>
  </div>
    <div class="banneritem">
      <a href=""><img class="bannerimage" alt="picture"
      src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_paraben_180x.png?v=1630590208" /></a>
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="" >Learn more</a>
      </div>
  </div>
  <div class="banneritem">
      <a href=""><img class="bannerimage" alt="picture"
		src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_silicones_180x.png?v=1630590238" /></a>
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="" >Learn more</a>
      </div>
  </div>
  <div class="banneritem">
    <a href=""><img class="bannerimage" alt="picture" src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_recyclebottles_180x.png?v=1630590265" /></a>
    <div>
    	<p>
          PETA certified
		  vegan & cruelty free
   		 </p>
      <a href="" >Learn more</a>
    </div>
  </div>
</div>




<style>
  
   #banner{
     display: flex;
    background-color:#ECD8E7;
    margin:0;
   }
  .banneritem{
  	display: flex;
  }

  .banneritem div{
    color: gray;
  	font-family: sans;
      margin: 2rem 0 0 2rem;
  }
  	
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto 3em auto;
    }
  
    .bannerimage{
      width: 125px;
      height: 125px;
    }
     
    .slide {
        float: left;
        height: 510px;
        width: 728px;
    }
     
     
    .slide-wrapper {
        width: calc(728px * 4);
        animation: slide 10s ease infinite;
    }
     
     
    @keyframes slide {

        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-728px * 1);
        }
        60% {
            margin-left: calc(-728px * 2);
        }
        80% {
            margin-left: calc(-728px * 3);
        }
    }
</style>

{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>

      $(document).ready(function() {
    $('ul.bannertabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

</script>
