
	<div >
      <ul>
        {% for block in section.blocks %}
          <li id="show_image">
            <a href=""
          	<img alt="image" src="{{ block.settings.silder_image | img_url: '300x600' }}" >
          </li>
         {% endfor %}
      </ul>
	</div>



{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
