

      <div id="slideshow">
        {% for block in section.blocks %}
          <div class="silde-wrapper" >
          	<img class="slide" src="{{ block.settings.silder_image | img_url: '' }}" >
          </div>
         {% endfor %}
      </div>
<div id="banner" >
    <div class"banneritem">
    <a href=""><img alt="picture" src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_peta-logoicon_180x.png?v=1630590184" /></a>
    <div>
    	<p>
          PETA certified
		  vegan & cruelty free
   		 </p>
      <a href="" >Learn more</a>
    </div>
  </div>
    <div>
    <a href=""><img alt="picture" src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_paraben_180x.png?v=1630590208" /></a>
    <div>
    	<p>
          PETA certified
		  vegan & cruelty free
   		 </p>
      <a href="" >Learn more</a>
    </div>
  </div>
  <div>
    <a href=""><img alt="picture" src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_silicones_180x.png?v=1630590238" /></a>
    <div>
    	<p>
          PETA certified
		  vegan & cruelty free
   		 </p>
      <a href="" >Learn more</a>
    </div>
  </div>
  <div>
    <a href=""><img alt="picture" src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_recyclebottles_180x.png?v=1630590265" /></a>
    <div>
    	<p>
          PETA certified
		  vegan & cruelty free
   		 </p>
      <a href="" >Learn more</a>
    </div>
  </div>
</div>
	

<style>
  #banner{
  	display: flex;
    background-color:#ECD8E7;
    width:100%;
    margin:0;
  }
  .banneritem{
  	display: flex;
  }
    
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto 3em auto;
    }
     
    .slide {
        float: left;
        height: 510px;
        width: 728px;
    }
     
    /* Add animation to the slides */
     
    .slide-wrapper {
         
        /* Calculate the total width on the
      basis of number of slides */
        width: calc(728px * 4);
         
        /* Specify the animation with the
      duration and speed */
        animation: slide 10s ease infinite;
    }
     
     
    @keyframes slide {

        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-728px * 1);
        }
        60% {
            margin-left: calc(-728px * 2);
        }
        80% {
            margin-left: calc(-728px * 3);
        }
    }
</style>

{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

{% endjavascript %}
