{% if section.settings.show_topbar %}
	<div>
      hello
      {% for block in section.blocks %}
      	<img alt="" src="{{ block.settings.Image_link }}">
      {% endfor %}
	</div>
{% endif %}

HWLOOOOOOJSDISIDJSIDHISH


{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
