
	<div>
      <div id="slideshow">
        {% for block in section.blocks %}
          <div id="show_image" >
          	<img class="card_part card_part-one" src="{{ block.settings.silder_image | img_url: '400x800' }}" >
          </div>
         {% endfor %}
      </div>
	</div>

<style>
  
 #slideshow { 
  margin: 50px auto; 
  
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
 position: sticky;
  top: 0; 
  left: 40%; 
  right: 0; 
  bottom: 0; 
}
  
</style>


{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

{% endjavascript %}
