 

      <div id="slideshow">
        {% for block in section.blocks %}
          <div class="silde-wrapper" >
          	<img class="slide" src="{{ block.settings.silder_image | img_url: '' }}" >
          </div>
         {% endfor %}
      </div>

<div id="bannerContainer">
	<div class="heading"><p>a little for you & for the planet</p></div>
<div id="banner" >
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
       src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_peta-logoicon_180x.png?v=1630590184" />
      <div>
          <p>
            PETA certified
            vegan & cruelty free
           </p>
        <a href="item" >Learn more</a>
        <div class="item"><p>hi</p></div>
    </div>
  </div>
    <div class="banneritem">
     <img class="bannerimage" alt="picture"
      src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_paraben_180x.png?v=1630590208" />
      <div>
          <p>
           no dyes &
			parabens
           </p>
        <a href="" >Learn more</a>
      </div>
  </div>
  <div class="banneritem">
      <img class="bannerimage" alt="picture"
		src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_silicones_180x.png?v=1630590238" />
      <div>
          <p>
        	plant based
			cleansers
           </p>
        <a href="" >Learn more</a>
      </div>
  </div>
  <div class="banneritem">
	<img class="bannerimage" alt="picture"
     src="https://cdn.shopify.com/s/files/1/0562/2068/0362/files/300x300_recyclebottles_180x.png?v=1630590265" />
    <div>
    	<p class="detail">
          100% recycled & recyclable bottles
   		 </p>
     
      <a href="" >Learn more</a>
    </div>
  </div>
</div>
</div>





<style>
  .heading{
  	text-align: center;
    font-size: 25px;
    margin: 1rem 0 2rem 0;
  }
  
  #bannerContainer{
  	background-color:#ECD8E7;
    padding:10px
  }
  
   #banner{
     display: flex;
   }
  
  .banneritem{
  	display: flex;
  }

  .banneritem div{
    color: #808080;
    margin: 2rem 0rem 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .banneritem div a{
    color: #db9999 ;
    font-size: 13px;
    border-bottom: 1px solid #db9999;
  }

  
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto 3em auto;
    }
  
    .bannerimage{
      width: 125px;
      height: 125px;
    }
     
    .slide {
        float: left;
        height: 510px;
        width: 728px;
    }
     .item{
     	display: none;
     }
     
    .slide-wrapper {
        width: calc(728px * 4);
        animation: slide 10s ease infinite;
    }
     
     
    @keyframes slide {

        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-728px * 1);
        }
        60% {
            margin-left: calc(-728px * 2);
        }
        80% {
            margin-left: calc(-728px * 3);
        }
    }
    @media screen and (max-width: 700px){
   	 #banner{
  	display: grid;
  	}
     .slide {
       height: 200px;
       width:  300px;
    }
        #slideshow {
        overflow: hidden;
        height: 200px;
        width: 300px;
        margin: 0 auto 2rem auto;
    }
   }
</style>

{% schema %}
  {
    "name": "Image slider",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slider",
          "default": true
      }
       ],
    "blocks": [
        {
          "name": "Image",
          "type": "image",
          "settings": [
              {
                "type": "image_picker",
                "id": "silder_image",
                "label": "Add image"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "Link"
              }
            ]
          }
        ]  
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  var acc = document.querySelector(".banneritem");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.item;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
  
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);

</script>
