
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.announcement-bar {
  position: relative;
  width: 100vw;
  padding: 20px 0 20px 0;
  margin-top: 15vh;
  font-size: medium;
}

.slide {
  position: absolute;
  padding: 5px 0 0 0 ;
  top: 0;
  left: calc(50% - 10px);
  opacity: 0;
  animation: display 4s infinite;
}
