#x{
  	display: flex;
  	justify-content: center;
}
.announcement-bartext{
	font-size:large;
  	margin-left: 40%;
  	padding: 10px;
}
.announcement-close-icon{
	margin-left: auto;
  	padding: 10px;
  	cursor: pointer;
}