
.announcement-container{
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: medium;
  line-height: 45px;
  height: 45px;
}


/*  {
  display:grid;
  position: relative;
  width: 100vw;
  padding: 20px 0 20px 0;
  font-size: large;
} */
.announcement-bar .announcement-bar {
  position: absolute;
  top: 0;
  left: 54%;
  text-align: left;
  height: 45px;
  overflow: hidden;
}
.announcement-bar .announcement-bar .announcement-innerbar {
  position: relative;
  animation: rotate 8s ease-in-out infinite;
}
/* .slide {
  position: absolute;
  padding: 5px 0 0 0 ;
  top: 0; 
  left: calc(55% - 190px);
  opacity: 0;
  animation: display 3s infinite;
  cursor: pointer;
} */

.cross-announcement-bar{
  	margin: 0 10px 0 auto;
  	cursor: pointer;
  	font-size: 1.5rem;
}

.announcement-bar .announcement-bar .slide {
  display: block;
}

@keyframes rotate {
 10%, 15%, 100% {
            transform: translateY(0);
  }
  25%,36% {
            transform: translateY(-45px);
  }
  46%,57% {
            transform: translateY(-90px);
  }
  67%,78% {
            transform: translateY(-135px);
  }
  88%, 99% {
            transform: translateY(-180px);
  }
}
