
.announcement-container{
	display: flex;
}


@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.announcement-bar {
  position: relative;
  width: 100vw;
  padding: 20px 0 20px 0;
  font-size: large;
}

.slide {
  position: absolute;
  padding: 5px 0 0 0 ;
  top: 0;
  left: calc(55% - 190px);
  opacity: 0;
  animation: display 3s infinite;
}

.cross-announcement-bar{
  	margin: 10px 10px 0 auto;
  	cursor: pointer;
}
